body {
    background-color: #E8E7E1;
}

nav {
    background-color: #E8E7E1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    z-index: 2;
}

nav a {
    color: #1D494B;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;;
    height: 100%;
    display: flex;
    padding-left: 16px;
    justify-content: left;
    align-items: center;
}

#Home_btn {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.Header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h1_and_img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

h1 { 
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #1D494B;;
    padding-right: 64px;
}

#wave {
    display: inline-block;
    animation: wave-animation 1.5s infinite;
    transform-origin: 70% 70%;
}

#my_foto {
    width: auto;
    height: 50%;
    border-radius: 50%;
}

#arrow_down {
    width: 30px;
    height: auto;
    position: absolute;
    bottom: 1em;
    animation: bounce 1.5s infinite ease-out;
}

#arrow_down, #wave{
    z-index: 1;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #1D494B;
}

#about_home_screen {
    padding-top: 32px;
    padding-bottom: 32px;
}

#download_cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #1D494B;
    border: none;
    border-radius: 8px;
}

#download-content {
    background-color: #BACED1;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

#download_cv a{
    text-decoration: none;
    color: #1D494B;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-transform: uppercase; 
}

#download_cv img {
    width: 20px;
    height: 20px;
    padding-right: 8px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #1D494B;
}

#skills_h2 {
    padding-top: 16px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #1D494B;
}

#skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    gap: 16px;
    background-color: #1D494B;
    border-radius: 16px;
    padding-bottom: 32px;
    padding-top: 16px;
}

#skills h3, #skills p {
    color: #E8E7E1;
}

#skills p {
    padding-left: 16px;
    padding-right: 16px;
}

#projects {
    padding-top: 32px;
    padding-bottom: 32px;
}

#projects p{
    text-align: left;
    padding-bottom: 8px;
}

#imagesOffProjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    align-content: center;
    text-align: center;
}

#imagesOffProjects img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    padding-bottom: 8px;
}

button {
    background-color: #1D494B;
    color: #E8E7E1;
    border: none;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.github {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 16px;
}

.live {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 16px;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#img_404 {
    width: 300px;
    height: auto;
    padding-bottom: 16px;
}

.error h1 {
    font-size: 38px;
    padding: 0;
}

#p_404 {
    padding-bottom: 24px;
}

#go-home {
    text-decoration: none;
    color: #1D494B;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-transform: uppercase; 
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    background-color: #BACED1;
    border: none;
    border-radius: 8px;
}

footer {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    max-width: 1000px;
    color: #1D494B;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

footer li {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

footer img{
    width: 23px;
    height: 23px;
    padding-right: 8px;
}

footer a {
    text-decoration: none;
    color: #1D494B;
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width:1000px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    footer ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer li {
        padding-top: 32px;
    }

    #imagesOffProjects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 780px) {
    #h1_and_img {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        padding-right: 0;
        text-align: center;
        padding-bottom: 48px;
    }

    #skills {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 16px;
    }

    #skills h3, #skills p {
        padding: 0;
    }

    #my_foto {
        width: 60%;
        height: auto;
        border-radius: 50%;
    }
}

@media (max-width: 600px) {
    #my_foto {
        width: 65%;
        height: auto;
        border-radius: 50%;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}